.clearable-text-field{
    -fx-background-color: White;
}

.textFieldButtonContainer{
    -fx-border-width: 1;
    -fx-border-color: #A9B0B7;
}

.textFieldButtonContainerError{
    -fx-border-color: Red;
}

#errorLabel{
    -fx-text-fill: Red;
    -fx-border-color: Transparent #A9B0B7 #A9B0B7 #A9B0B7;

}

.button{
    -fx-text-fill: Black;
    -fx-background-color: Transparent;
}

.button:hover{
    -fx-text-fill: #AC2B37;
    -fx-background-color: Transparent;
}

.button:disabled{
    -fx-background-color: #A9B0B7;
    -fx-background-color: Transparent;
}
.text-field{
    -fx-background-color: Transparent;
}