#searchLabel{
    -fx-font-size:17;
    -fx-font-weight: bold;
}

.button{
    -fx-background-radius:0;
}

.text-field{
    -fx-background-radius:0;
}

#searchLocationButton{
    -fx-focus-color: Transparent;
    -fx-faint-focus-color: Transparent;
}

#searchLocationButton:hover{

}

#searchInputTextField{
    -fx-focus-color: red;
    -fx-faint-focus-color: transparent;
}

#searchLocationButton:focused{
    -fx-focus-color: transparent;


}

#locationResultListView{
    -fx-background-insets: 0;
    -fx-border-color: Transparent;
}