.root{
    -fx-background-color: #FFFFFF;
}

#openNavigationPaneButton{
    -fx-background-radius:0;
    -fx-background-color: rgba(0, 0, 0, 0.1);
}

#openNavigationPaneButton:hover{
    -fx-background-color: rgba(0, 0, 0, 0.2);
}
