#menuBar{
    -fx-background-color: #AC2B37;
}

.toggle-button{
    -fx-background-color: Transparent;

}

.toggle-button:hover{
    -fx-background-color: #CC3341;
}

#hamburgerToggleButton{
    -fx-background-image: url("../icons/white/Question.png");
    -fx-background-size: cover;
}

#hamburgerToggleButton:hover{
    -fx-background-color: #CC3341;
}

/*Search Button States*/
#searchMenuRadioButton{
    -fx-background-image: url("../icons/white/Question.png");
    -fx-background-size: cover;
}

#searchMenuRadioButton:selected{
    -fx-background-color: #FFFFFF;
    -fx-background-image: url("../icons/red/QuestionRed.png");
    -fx-background-size: cover;
}

/*Directions Button States*/
#directionsMenuRadioButton{
    -fx-background-image: url("../icons/white/Question.png");
    -fx-background-size: cover;
}

#directionsMenuRadioButton:selected{
    -fx-background-color: #FFFFFF;
    -fx-background-image: url("../icons/red/QuestionRed.png");
    -fx-background-size: cover;
}

/*Favorites Button States*/
#favoritesMenuRadioButton{
    -fx-background-image: url("../icons/white/favorite.png");
    -fx-background-size: cover;
}

#favoritesMenuRadioButton:selected{
    -fx-background-color: #FFFFFF;
    -fx-background-image: url("../icons/red/favoriteRed.png");
    -fx-background-size: cover;
}

/*Dev mode Button States*/
#devToolMenuRadioButton{
    -fx-background-image: url("../icons/white/devIcon.png");
    -fx-background-size: cover;
}

#devToolMenuRadioButton:selected{
    -fx-background-color: #FFFFFF;
    -fx-background-image: url("../icons/red/devIconRed.png");
    -fx-background-size: cover;
}

/*Settings Button States*/
#settingsMenuRadioButton{
    -fx-background-image: url("../icons/white/settings.png");
    -fx-background-size: cover;
}

#settingsMenuRadioButton:selected{
    -fx-background-color: #FFFFFF;
    -fx-background-image: url("../icons/red/settingsRed.png");
    -fx-background-size: cover;
}

/*Help Button States*/
#helpMenuRadioButton{
    -fx-background-image: url("../icons/white/Question.png");
    -fx-background-size: cover;
}

#helpMenuRadioButton:selected{
    -fx-background-color: #FFFFFF;
    -fx-background-image: url("../icons/red/QuestionRed.png");
    -fx-background-size: cover;
}