.label{
    -fx-font-size:25;
}

#closePaneButton{
    -fx-background-color: Transparent;
    -fx-background-radius:0;
    -fx-text-fill:#000000;
}

#closePaneButton:hover{
    -fx-background-color: #F1F2F3;
}

#previousButton{
    -fx-background-radius:50;
    -fx-background-image: url("../icons/white/leftarrow.png");
    -fx-background-size: cover;
}

#nextButton{
    -fx-background-radius:50;
    -fx-background-image: url("../icons/white/rightarrow.png");
    -fx-background-size: cover;
}